:root {
    --clr-gray: #37474f;
    --white: #ffffff;
    --black: #000000;
    --grey: #78909c;
    --text-input-field: #f7f7f7;
    --primary: #d81b60;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

  }

  .wrapper-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
  }
  
  .container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--grey);
    background-color:var(--white);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    z-index: 1;
  }
 
  .banner-img {
    height: 4rem;
    clip-path: circle(238px at center);
  }
  .banner-img-opacity{
    opacity: 704%;
  }
  .card {
    height: 420px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .circle-img {
    width: 15rem;
    clip-path: circle(164px at center);
    margin-top: -3.5rem;
    object-fit: contain;
    height: 400%;
  }

  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
  
  .btn {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--primary);
  }

  .btn-link-card{
  background-color: var(--white);
  font-size: 16px;
  padding: 5px;
  color: var(--primary);
  text-decoration: none;
  border-radius: 6%;
  border: 0.5px solid var(--primary);
  font-weight: bold;

  }

  .link-card{
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  }
  
  /*Item Detail*/
 
  .container-detail {
    margin-top: 170px;
    margin-bottom: 50px;
  }

  .img-detail{
    width: 380px;
  }

  .name-detail{
    font-weight: bold;
    font-size: 30px;
    text-align: -webkit-center;
    margin-bottom: 20px;
  }
  
  .btn-return{
    margin: 5px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--grey);
    color: var(--grey);
    width: 45%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .btn-add-cart{
    margin: 5px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--primary);
    color: var(--primary);
    width: 45%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }